<script>
    function updateTimeView(startid, slutid) {
    const startinput = document.getElementById(startid);
    const endinput = document.getElementById(slutid);

    const startdate = new Date(startinput.innerHTML).toDateString();
    const enddate = new Date(endinput.innerHTML).toDateString();
    
    startinput.innerHTML = startdate;
    endinput.innerHTML = enddate;
    }
</script>
<div class="row">
    <div class="col">
        {{#if messages.errors }}
        <div class="alert alert-danger">
            {{#each messages.errors }}
            <span>{{ this.msg }}</span><br>
            {{/each}}
        </div>
        <hr>
        {{/if}}
        {{#if messages.success }}
        <p class="alert alert-success">{{ messages.success }}</p>
        <hr>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <h1>Begivenheder</h1>
        </div>
        <form method="GET" action="/admin/news/createevent">
            <button type="submit" class="btn btn-primary row">Ny Begivenhed</button>
        </form>

        <table cellpadding='2' style="width:100%;">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Start dato</th>
                    <th>Slut dato</th>
                    <th>pris</th>
                </tr>
            </thead>
            <tbody>
                {{#each events }}
                <tr>
                    
                    <td><a href="/events/{{this._id}}">{{this.headline}}</a></td>
                    <td id="{{this._id}}1">{{this.startdate}}</td>
                    <td id="{{this._id}}2">{{this.enddate}}</td>
                    <td>{{this.price}}</td>
                    <td><a href="/admin/news/eventedit/{{this._id}}" class="btn btn-primary"><i
                                class="fas fa-wrench"></i></a>
                    </td>
                    <td> <button type="submit" id="{{this._id}}" onclick="deleteEvent(this.id)" class="btn btn-danger"><i
                                class="fas fa-times"></i></button></td>
                </tr>
                <script>updateTimeView("{{this.id}}1", "{{this.id}}2")</script>
                {{/each}}
            </tbody>
        </table>

    </div>

    <div class="col-lg-6">
        <div class="row">
            <h1>Opslag</h1>
        </div>
        <form method="GET" action="/admin/news/createpost">
            <button type="submit" class="btn btn-primary row">Nyt opslag</button>
        </form>

        <table cellpadding='2' style="width:100%;">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Dato</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts }}
                <tr>
                    <td>{{this.headline}}</td>
                    <td>{{this.postdate}}</td>
                    <td><a href="/admin/news/postedit/{{this._id}}" class="btn btn-primary"><i
                                class="fas fa-wrench"></i></a>
                    </td>
                    <td> <button type="submit" id="{{this._id}}" onclick="deletePost(this.id)" class="btn btn-danger"><i
                                class="fas fa-times"></i></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</div>

<script>

    async function deleteEvent(id) {
        const res = window.confirm('Vil du slette denne begivenhed?');
        if (res) {
            try {
                const response = await fetch('/admin/news/delete/eventid=' + id, {
                    method: 'DELETE',
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };

    async function deletePost(id) {
        const res = window.confirm('Vil du slette dette opslag?');
        if (res) {
            try {
                const response = await fetch('/admin/news/delete/postid=' + id, {
                    method: 'DELETE',
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };

</script>