<div class="row">
    <div class="col">
        <h1>Kontingent håndtering</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
             {{#if messages.errors }}
        <div class="alert alert-danger">
            {{#each messages.errors }}
            <span>{{ this.msg }}</span><br>
            {{/each}}
        </div>
        <hr>
        {{/if}}
        {{#if messages.success }}
        <p class="alert alert-success">{{ messages.success }}</p>
        <hr>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Opret nyt kontingent</h2>
            </div>
            <div class="panel-body">
                <form method="POST" action="/admin/subscriptions">
                    <div class="form-group">
                        <label></label>Navn (Påkrævet):</label>
                        <input type="text" class="form-control" name="name" value="{{inputs.name}}" />
                    </div>
                    <div class="form-group">
                        <label>Varighed/Betalingsfrekvens (Påkrævet):</label>
                        <input type="number" class="form-control" name="duration" value="{{inputs.duration}}"
                            placeholder="Antal måneder" />
                    </div>
                    <div class="form-group">
                        <label></label>Pris i alt (Påkrævet):</label>
                        <input type="number" step="0.01" class="form-control" name="price" value="{{inputs.price}}"
                            placeholder="DKK" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Opret</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <h2>Kontingenter</h2>
        <table cellpadding='2' style="width:100%;">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Varighed</th>
                    <th>Pris</th>
                    <th>Rediger</th>
                    <th>Slet</th>
                </tr>
            </thead>
            <tbody>
                {{#each subscriptions}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.duration}} måneder</td>
                    <td>{{this.price}}</td>
                    <td><a href="/admin/subscriptions/{{this._id}}" class="btn btn-primary"><i
                                class="fas fa-wrench"></i></a></td>
                    <td>
                        <form action="/admin/subscriptions/{{this._id}}/delete" method="POST"
                            onsubmit="return confirm('Er du sikker på denne handling?')">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    async function deleteSubscription(id) {
        const res = window.confirm('Vil du slette dette kontingent?');
        if (res) {
            try {
                const response = await fetch('/admin/subscriptions/id=' + id, {
                    method: 'DELETE',
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };
</script>