<div class="row">
    <div class="col">
        {{#if messages.errors }}
        <div class="alert alert-danger">
            {{#each messages.errors }}
            <span>{{ this.msg }}</span><br>
            {{/each}}
        </div>
        <hr>
        {{/if}}
        {{#if messages.success }}
        <p class="alert alert-success">{{ messages.success }}</p>
        <hr>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Bruger håndtering</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Registrer ny bruger</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/admin/users">
                    <div class="form-group">
                        <label for="usertype">Bruger type:</label>
                        <select name="usertype" class="form-control" id="typeselect">
                            {{#select "{{usertypes._id}}"}}
                            {{#each usertypes}}
                            <option value="{{this._id}}">{{this.title}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Email (Påkrævet):</label>
                        <input type="email" class="form-control" name="email" value="{{inputs.email}}" />
                    </div>
                    <div class="form-group">
                        <label>Password (Påkrævet):</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <label>Fornavn (Påkrævet):</label>
                        <input type="text" class="form-control" name="firstname" value="{{inputs.firstname}}" />
                    </div>
                    <div class="form-group">
                        <label>Efternavn (Påkrævet):</label>
                        <input type="text" class="form-control" name="lastname" value="{{inputs.lastname}}" />
                    </div>
                    <div class="form-group">
                        <label>Funktion:</label>
                        <input type="text" class="form-control" name="func" value="{{inputs.func}}" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Registrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h3>Rediger eksisterende brugere</h3>
        <div>
            <label><b>Antal medlemmer: </b></label>
            <label><b>{{userCount}}</b></label>
        </div>

        {{!-- search --}}
        <input type="text" name="search" id="search">
        <button onclick="search()" class="btn btn-primary">søg</button>


        <table cellpadding='10' style="width:100%;">

            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Type</th>
                    <th>Funktion</th>
                    <th>Kontingent</th>
                    <th>Rediger</th>
                    <th>Slet</th>
                </tr>
            </thead>
            <tbody>
                {{#each users }}
                <tr>
                    <td>{{this.info.firstname}} {{this.info.lastname}}</td>
                    <td>{{this.usertype.title}}</td>
                    <td>{{this.info.func}}</td>

                    <td align="center">
                        {{#if this.subscription}}
                        <i class="fas fa-check subscriptionActiveStyle"></i>
                        {{else}}
                        <i class="fas fa-times subscriptionInActiveStyle"></i>
                        {{/if}}
                    </td>

                    <td align="center">
                        <a href="/admin/users/id={{this._id}}" class="btn btn-primary"><i class="fas fa-wrench"></i></a>
                    </td>

                    <td align="center">
                        <form action="/admin/users/{{this._id}}/delete" method="POST"
                            onsubmit="return confirm('Er du sikker på denne handling?')">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    async function search() {
        const searchterm = document.getElementById("search").value;

        try {
            const response = await fetch('/admin/users/search=' + searchterm, {
                method: 'GET',
            })
            if (response.status === 200) location.href = '/admin/users/search=' + searchterm;
            else location.href = '/admin/users';
        } catch (err) {
            console.log(err);
        }

    }
</script>