<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            {{# if errors }}
            {{# each errors }}
            <p class="alert alert-danger">{{ this.msg }}</p>
            {{/each}}
            {{/if}}
            {{# if success }}
            <p class="alert alert-success">{{ success.msg }}</p>
            {{/if}}
            <div class="panel-heading">
                <h2>Bruger info:</h2>
            </div>
            <div class="panel-body">
                <form method="post" action="/admin/users/id={{user._id}}">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="col-md-4">Fornavn: (Påkrævet)</label>
                                <input type="text" class="form-control" name="firstname"
                                    value="{{user.info.firstname}}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Efternavn: (Påkrævet)</label>
                                <input type="text" class="form-control" name="lastname"
                                    value="{{user.info.lastname}}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Fødselsdato</label>
                                <input type="date" class="form-control" name="birth" value="{{user.info.birth}}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Tlf:</label>
                                <input type="text" class="form-control" name="phone" value="{{user.info.phone}}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Postnummer:</label>
                                <input type="number" class="form-control" name="zipcode"
                                    value="{{user.info.zipcode}}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">addresse:</label>
                                <input type="text" class="form-control" name="street" value="{{user.info.street}}" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="level">Bruger type:</label>
                                <select name="level" class="form-control" id="typeselect">
                                    {{#select user.type.level}}
                                    <option value="0" disabled="true">Vælg</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Frivillig</option>
                                    <option value="3">Medlem</option>
                                    {{/select}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="func">Funktion:</label>
                                <select name="func" class="form-control" id="userfunc">
                                    {{#select user.func}}
                                    <option value="0" disabled="true">Vælg</option>
                                    <option value="bestyrelse">Bestyrelse</option>
                                    <option value="kassér">Kassér</option>
                                    <option value="frivillig">Frivillig</option>
                                    <option value="medlem">Medlem</option>
                                    {{/select}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Email: (Påkrævet)</label>
                                <input type="text" class="form-control" name="email"
                                    placeholder="Nuværende: {{user.email}}" />
                            </div>
                            <div class="form-group">
                                <p>Kontingenttype: {{user.subscription.type.name}}</p>
                            </div>
                            <div class="form-group">
                                <label>Aktiv:</label>
                                <input type="checkbox" name="active" value="{{user.subscription.active}}">
                            </div>
                            <div class="form-group">
                                <p>Medlem siden: {{user.created}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Updater info</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>