<div class="row">
    <div class="col" id="appendhere">
        {{# if errors }}
        {{# each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        {{# if goodErrors }}
        {{# each goodErrors }}
        <p class="alert alert-success">{{ this.message }}</p>
        {{/each}}
        {{/if}}
        {{# if success}}
        <p class="alert alert-success">{{ success }}</p>
        {{/if}}
    </div>
</div>
<h1>Kontingenter</h1>
<div class="row">
    <div class="col">
        <form method="post" action="/subscriptionType">
            <div class="form-group">
                <label>vælg Kontigenttype</label>
                <select name='subtype' class="form-control" id="selectSubType">
                    {{# each subtypes }}
                    <option value="{{this._id}}">{{ this.name }}{{this.duration}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="subscriptionInfoInput">Kontingent information</label>
                <input type="subscriptionInfo" name="name" class="form-control" placeholder="Kontigent navn">
            </div>
            <div class="form-group">
                <label for="subLenghtInput">Kontingent længde</label>
                <input type="subLenght" name="duration" class="form-control" placeholder="Kontingent længde">
            </div>
            <div class="form-group">
                <label for="subPriceInput">Kontingent pris</label>
                <input type="subPrice" name="mdrPrice" class="form-control" placeholder="Månedlig pris">
            </div>
            <button type="submit" class="btn btn-primary">Opret</button>
        </form>
        <!-- <form method="delete"> -->
        <div class="form-group">
            <button type "submit" class="btn btn-primary" onclick="deleteSubType()">Slet</button>
        </div>
        <!-- </form> -->
    </div>
</div>

<script>
    //delete method
    async function deleteSubType() {
        if (selectSubType.value) {
            try {
                const response = await fetch('/subscriptionType/' + selectSubType.value, {
                    method: 'DELETE',
                })
                if (response.status >= 400 || !response) {
                    throw new Error('Failed to fetch');
                }
                location.reload(true);
            } catch (err) {
                console.log(err);
            }
        } else {
            let alert = document.createElement('P');
            alert.innerText = 'Der er ingen kontingenter at slette';
            alert.className = "alert alert-danger";
            document.getElementById('appendhere').innerHTML = '';
            document.getElementById('appendhere').appendChild(alert);
        }
    }
</script>