<div class="row">
    <div class="col">
        <a href="/admin/shop/">Shop</a><span> > </span>
        <span>{{category.name}}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{#if errors}}
        {{#each errors}}
        <p class="alert alert-danger">{{this.msg}}</p>
        {{/each}}
        {{else if success}}
        <p class="alert alert-success">{{success.msg}}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Rediger kategori</h2>
            </div>
            <div class="panel-body">
                <form method="post" action="/admin/shop/categories/{{category._id}}">
                    <div class="form-group">
                        <label>Navn: (Påkrævet)</label>
                        <input type="text" class="form-control" name="name" value="{{category.name}}" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Opdater</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>