<div class="row">
    <div class="col">
        <a href="/admin/shop">Shop</a><span> > </span>
        <a href="/admin/shop/categories/{{category._id}}">{{category.name}}</a><span> > </span>
        <span>{{product.name}}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{#if errors}}
        {{#each errors}}
        <p class="alert alert-danger">{{this.msg}}</p>
        {{/each}}
        {{else if success}}
        <p class="alert alert-success">{{success.msg}}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Rediger produkt</h2>
            </div>
            <div class="panel-body">
                <form method="post" action="/admin/shop/categories/{{category._id}}/products/{{product._id}}"
                    enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Varekategori:</label>
                        <input type="text" class="form-control" name="category" readonly value="{{category.name}}" />
                    </div>
                    <div class="form-group">
                        <label>Navn: (Påkrævet)</label>
                        <input type="text" class="form-control" name="name" value="{{product.name}}" />
                    </div>
                    <div class="form-group">
                        <label>Pris: (Påkrævet)</label>
                        <input type="number" class="form-control" name="price" value="{{product.price}}" />
                    </div>
                    <div class="form-group">
                        <label>Størrelse: (Påkrævet)</label>
                        <input type="text" class="form-control" name="size" value="{{product.size}}" />
                    </div>
                    <div class="form-group">
                        <label>Nuværende billede:</label>
                        <img src="{{product.imgPath}}" width="200px">
                    </div>
                    <div class="form-group">
                        <label>Opload nyt billede:</label>
                        <input type="file" class="form-control-file" name="productImage" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Opdater</button>
                    </div>
                </form>
                <form action="/admin/shop/categories/{{category._id}}/products/{{product._id}}/remove" method="POST"
                    onsubmit="return confirm('Er du sikker på denne handling?')">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Slet dette
                        produkt</button>
                </form>
            </div>
        </div>
    </div>
</div>