<div class="row">
    <div class="col">
        {{#if errors}}
        {{#each errors}}
        <p class="alert alert-danger">{{this.msg}}</p>
        {{/each}}
        {{else if success}}
        <p class="alert alert-success">{{success.msg}}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Opret ny produktkategori</h2>
        <form method="post" action="/admin/shop/categories">
            <div class="form-group">
                <label>Navn: (Påkrævet)</label>
                <input type="name" class="form-control" name="Cname" value="{{inputs.Cname}}" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Opret</button>
            </div>
        </form>
    </div>
    <div class="col">
        <h2>Opret et nyt product</h2>
        <form method="post" action="/admin/shop/products" enctype="multipart/form-data">
            <div class="form-group">
                <label>Navn: (Påkrævet)</label>
                <input type="text" class="form-control" name="name" value="{{inputs.name}}" />
            </div>
            <div class="form-group">
                <label>Pris: (Påkrævet)</label>
                <input type="number" class="form-control" name="price" value="{{inputs.price}}" />
            </div>
            <div class="form-group">
                <label>Størrelse: (Påkrævet)</label>
                <input type="text" class="form-control" name="size" value="{{inputs.size}}" />
            </div>
            <div class="form-group">
                <label>Produktkategori: (Påkrævet)</label>
                <select name="category" class="form-control">
                    {{#each categories}}
                    {{#select categories._id}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/select}}
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Billede:</label>
                <input type="file" class="form-control-file" name="productImage" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Opret</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Shop håndtering</h1>
        {{#each categories}}
        <div class="row justify-content-between categories-backend">
            <div class="col">{{this.name}}</div>
            <div class="align-right col">
                <a href="/admin/shop/categories/{{this._id}}" class="btn btn-primary"><i class="fas fa-wrench"></i></a>
                <button type="submit" id="{{this._id}}" onclick="deleteCategory(this.id)" class="btn btn-danger"><i
                        class="fas fa-times"></i></button>
            </div>
        </div>
        {{#each this.products}}
        <div class="row justify-content-between products-backend">
            <div class="col">{{this.name}}</div>
            <div class="align-right col">
                <a href="/admin/shop/categories/{{../this._id}}/products/{{this._id}}" class="btn btn-primary"><i
                        class="fas fa-wrench"></i></a>
                <button type="submit" id="{{this._id}}" onclick="deleteProduct({{this._id}}, {{../this._id}})"
                    class="{{../this._id}} btn btn-danger"><i class="fas fa-times"></i></button>
            </div>
        </div>
        {{/each}}
        {{/each}}
    </div>
</div>

<script>
    async function deleteCategory(id) {
        const res = window.confirm('Sletter du denne kategori slettes alle indeholdende produkter også. Er du sikker på denne handling?');
        if (res) {
            try {
                const response = await fetch('/admin/shop/categories/' + id, {
                    method: 'DELETE',
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };

    async function deleteProduct(id, classnames) {
        const res = window.confirm('Er du sikker på denne handling?');
        if (res) {
            const categoryid = classnames.split(' ')[0];
            try {
                const response = await fetch('/admin/shop/products/' + id, {
                    method: 'DELETE',
                    body: JSON.stringify({ categoryid }),
                    headers: { 'Content-Type': 'application/json' }
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };
</script>