<script>
    function updateTimeView() {
        const startinput = document.getElementById("startTime");
        const endinput = document.getElementById("endTime");
        const deadlineinput = document.getElementById("deadline");

        const startdate = new Date(startinput.innerHTML).toDateString();
        const enddate = new Date(endinput.innerHTML).toDateString();
        const deadlinedate = new Date(endinput.innerHTML).toDateString();

        startinput.innerHTML = '<strong>Periode:</strong> ' + startdate + ' til ' + enddate;
        deadlineinput.innerHTML = '<strong>Svarfrist:</strong> ' + deadlinedate;
        endinput.remove();
    }
</script>

<div class="row">
    <div class="col">
        {{#if errors }}
        {{#each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        {{#if success }}
        <p class="alert alert-success">{{ success.msg }}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    {{!-- event information --}}
    <div class="col-lg-12">
        <div class="row">
            <h1>{{events.headline}}</h1>
        </div>
        <div class="row">
            <p id="startTime">{{events.startdate}}</p>
            <p id="endTime">{{events.enddate}}</p>
        </div>
        <div class="row">
            <p id="deadline">{{events.deadline}}</p>
        </div>
        <div class="row"><strong>Pris:</strong> {{events.price}}</div>
        <div class="row">
            <p><strong>Beskrivelse:</strong></p>
        </div>
        <div class="row">
            <textarea class="col-lg-6" readonly>{{events.body}}</textarea>
        </div>


        {{!-- participants information --}}

        <div class="row">
            <p><strong>Maks antal deltager: {{events.maxparticipants}}</strong></p>
        </div>
        <div class="row">
            <p>{{ticket}} pladser tilbage</p>
        </div>
    </div>

    <form method="POST" action="/events/{{events._id}}/signup">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Tilmeld</button>
        </div>
    </form>
</div>
<script>
    updateTimeView(); 
</script>