<div class="col">
    {{#if success}}
    {{#each success}}
    <p class="alert alert-success">{{success.msg}}</p>
    {{/each}}
    {{/if}}
</div>
<h1>Kommende events</h1>

{{#if user}}
<div class="row">
    <span class="border border-primary">
        <div class="col">
            <div class="form-group">
                <table cellpadding='2' style="width:100%;">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Start Dato</th>
                            <th>Slut Dato</th>
                            <th>Pris</th>
                            <th>Tilmeld</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {{#each events }}
                        <tr>
                            <td>{{this.headline}}</td>
                            <td>{{this.startdate}}</td>
                            <td>{{this.enddate}}</td>
                            <td>{{this.price}}</td>
                            <td>
                                <form method="POST" action='/events/eventid={{this.id}}'>
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-plus"></i></button>

</form>
                            </td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </span>
</div>
{{else}}
<div class="row">
    <span class="border border-primary">
        <div class="col">
            <div class="form-group">
                <table cellpadding='2' style="width:100%;">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Start Dato</th>
                            <th>Slut Dato</th>
                            <th>Pris</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each events }}
                        <tr>
                            <td>{{this.headline}}</td>
                            <td>{{this.startdate}}</td>
                            <td>{{this.enddate}}</td>
                            <td>{{this.price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </span>
</div>
{{/if}}


<script>
    async function signUp(eventId, userId) {
        const res = window.confirm('Vil tilmelde dig dette event?');
        if (res) {
            try {
                const response = await fetch('public/events/eventid=' + eventId + '/userid=' + userId, {
                    method: 'POST',
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };
</script>