<h1>Dine events</h1>
<div class="row">
    <span class="border border-primary">
        <div class="col">
            <h3>Kommende events</h3>
            <div class="form-group">
                <table cellpadding='2' style="width:100%;">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Start Dato</th>
                            <th>Slut Dato</th>
                            <th>Pris</th>

                            <th>Afmeld</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pevents}}
                        <tr>
                            <td>{{this.headline}}</td>
                            <td>{{this.startdate}}</td>
                            <td>{{this.enddate}}</td>
                            <td>{{this.price}}</td>
                            <td>
                                <button type="submit" id = "{{this.id}} "onclick="eventSignOff({{this.id}}, {{../user._id}})"
                                    class="btn btn-danger"><i class="fas fa-times"></i></button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </span>
</div>

<script>
    async function eventSignOff(eventid, userid) {
        const res = window.confirm('Vil du afmelde dig dette event?');
        if (res) {
            try {
                const response = await fetch('/eventid=' + eventid, {
                    method: 'DELETE',
                })
                if (response.status === 200) location.reload(true);
            } catch (err) {
                console.log(err);
            }
        }
    };
</script>