<div class="row">
    <div class="col">
        <form method="GET" action="/logout">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {{#if errors }}
        {{#each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        {{#if success }}
        <p class="alert alert-success">{{ success.msg }}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Bruger info:</h2>
            </div>
            <div class="panel-body">
                <form method="POST" action="/user/id={{user._id}}">
                    <div class="form-group">
                        <label class="label">Fornavn: (Påkrævet)</label>
                        <input type="text" id="firstname" class="form-control" name="firstname"
                            value="{{user.info.firstname}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Efternavn: (Påkrævet)</label>
                        <input type="text" id="lastname" class="form-control" name="lastname"
                            value="{{user.info.lastname}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Fødselsdato</label>
                        <input type="date" id="birth" class="form-control" name="birth" value="{{user.info.birth}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Tlf:</label>
                        <input type="text" id="phone" class="form-control" name="phone" value="{{user.info.phone}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Postnummer:</label>
                        <input type="number" id="zipcode" class="form-control" name="zipcode"
                            value="{{user.info.zipcode}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">addresse:</label>
                        <input type="text" id="street" class="form-control" name="street"
                            value="{{user.info.street}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Email: (Påkrævet)</label>
                        <input type="text" id="email" class="form-control" name="email"
                            placeholder="Nuværende: {{user.email}}" />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="{{user._id}}" class="btn btn-primary">Updater
                            info</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <p>Nuværende kontingent: {{user.submodel.duration}} måneder</p>
        <p>Pris pr måned: {{user.submodel.price}}DKK</p>
        <p>Start dato: {{user.subscription.startdate}}</p>
        <p>Fornyelsesdato: {{user.subscription.enddate}}</p>
        <br>
        <a href="/user/subscription" class="btn btn-primary">Skift kontingent</a>
        <button type="submit" id="{{user._id}}" class="btn btn-primary">Cancel kontingent</button>

        <br>
        <p>Funktion: {{user.info.func}}</p>
        <p>Medlem siden: {{user.created}}</p>
    </div>
</div>