<div class="row">
    <div class="col">
        {{#if errors }}
        {{#each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        {{#if success }}
        <p class="alert alert-success">{{ success.msg }}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Bruger info</h2>
            </div>
            <div class="panel-body">
                <form method="POST" action="/user/id={{user._id}}">
                    <div class="form-group">
                        <label class="label">Fornavn: (Påkrævet)</label>
                        <input type="text" id="firstname" class="form-control" name="firstname"
                            value="{{user.info.firstname}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Efternavn: (Påkrævet)</label>
                        <input type="text" id="lastname" class="form-control" name="lastname"
                            value="{{user.info.lastname}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Fødselsdato</label>
                        <input type="date" id="birth" class="form-control" name="birth" value="{{user.info.birth}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Tlf:</label>
                        <input type="text" id="phone" class="form-control" name="phone" value="{{user.info.phone}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">Postnummer:</label>
                        <input type="number" id="zipcode" class="form-control" name="zipcode"
                            value="{{user.info.zipcode}}" />
                    </div>
                    <div class="form-group">
                        <label class="label">addresse:</label>
                        <input type="text" id="street" class="form-control" name="street"
                            value="{{user.info.street}}" />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="{{user._id}}" class="btn btn-primary">Updater
                            info</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <p>Funktion: {{user.info.func}}</p>
        <p>Medlem siden: {{user.created}}</p>
    </div>
    <div class="col">
        <h2>Kontingent info</h2>
        <!-- redo this part -->
        {{#if subscription}}
        <p>Model: {{subscription.model.name}}: {{subscription.model.duration}} måneder af {{subscription.model.price}}DKK/pr måned</p>
        <p>Start dato: {{subscription.start}}</p>
        <p>Slut dato: {{subscription.end}}</p>
        <a href="/user/subscription" class="btn btn-primary" style="display: inline-block">Skift kontingent</a>
        <form method="POST" action="/user/unsubscribe" style="display: inline-block">
            <button type="submit" id="{{user._id}}" onclick="confirm('Er du sikker?')" class="btn btn-danger">Stop
                kontingent</button>
        </form>
        {{else if subscription.active}}
        <p>Tidligere kontingent plan betalt indtil: {{subscription.enddate}}</p>
        <a href="/user/subscription" class="btn btn-primary">Opret kontingent</a>
        {{else}}
        <p>Du har ingen aktivt kontingent plan</p>
        <a href="/user/subscription" class="btn btn-primary">Opret kontingent</a>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Skift password:</h2>
        <form action="/user/pw" method="POST">
            <div class="form-group">
                <label class="label">Nuværende password: (Påkrævet)</label>
                <input type="password" class="form-control" name="oldpw" />
            </div>
            <div class="form-group">
                <label class="label">Nyt password: (Påkrævet)</label>
                <input type="password" class="form-control" name="newpw" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
    <div class="col">
        <h2>Skift Email:</h2>
        <form action="/user/email" method="POST">
            <div class="form-group">
                <label class="label">Password: (Påkrævet)</label>
                <input type="password" class="form-control" name="pw" />
            </div>
            <div class="form-group">
                <label class="label">Ny email: (Påkrævet)</label>
                <input type="email" class="form-control" name="newEmail" placeholder="Nuværende: {{user.email}}" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>